/* ========================= ШРИФТИ =============================== */

/* Google Fonts */

  @import url("https://fonts.googleapis.com/css?family=Quicksand:600,700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Quicksand:500&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Exo:regular,500,700&display=swap");

  /*Локальне підключення шрифтів */
/*Скидання стилів */
@import url("reset.css");
@import url("fonts.css");



   .header {
		padding: 34px 0px 30px 0px;
		font-family: 'Quicksand', sans-serif;
	}

		.header__title {
			text-align: center;
			font-weight: 700;
			font-size: 45px;
		   font-family: "Exo", sans-serif;
			color: #d721d7;
			text-shadow: 2px 2px 3px #39bae5 ;
			margin-bottom: 10px;
			margin-left: 15px;
		}


.main__container {
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 50px;
}

.page__button {
	   line-height: 1.2;
		font-weight: 700;
}

.page__button:not(:last-child) {
	margin-right: 15px;
}

.page__button.button-1 {
	   color: #350de9;
		background-color: rgba(223, 151, 207, 0.926);
		padding: 15px 20px;
		border-radius: 32px;
		font-size: 20px;
		margin-left: 500px;
		
		
}

.page__button.button-1 span {
	   display: inline-block;
		background: url('../img/icon-burger.png') 0 0 / contain no-repeat;
		padding-left: 34px;
		
}

.page__button.button-1:hover {
	background-color: #00c2d3;
}

.page__button.button-2 {
	background-color: #0caebc;
		padding: 15px 20px;
		border-radius: 8px;
		font-size: 20px;
}

.page__button.button-2 span {
	  display: inline-block;
		background: url('../img/icon-milkshake.png') 0 0 / contain no-repeat;
		padding-left: 34px;
		
}

.page__button.button-2:hover {
	background-color: rgb(248, 228, 56);
}

.page__button.button-2:active {
	background-color: rgb(30, 173, 234);
}

.page__button.button__3 {
	color: black;
		background-color: greenyellow;
		padding: 15px 20px;
		font-weight: 700;
		line-height: 1.56;
		font-size: 20px;
		
}

.page__button.button__3 span {
	   display: inline-block;
		background: url('../img/down-arrow.png') 0 0 no-repeat;
		padding-left: 34px;
}


.page__button.button__3:focus-visible {
	outline: 2px dashed #8B3DFF;
}

.block__container {
	   font-size: 0;
		margin: 0 auto;
		margin-bottom: 20px;
}

.training__block {
	max-width: 250px;
		display: inline-block;
		/* vertical-align: bottom; */
		margin-right: 20px;
		padding: 20px;
		font-size: 16px;
		background-color: #e9a40e;
		margin-left: 180px;
}

.link__show {
	   display: block;
		max-width: max-content;
		margin: 20px 0px;
		margin-left: 250px;
}

.link__show:hover {
	   color: #320c99;
		text-decoration: underline;
}

.training__block.block-1 {
	display: none;
}

.training__block.block-1:target {
	display: block;
}

.block__test-elements {
	display: inline-block;
		max-width: 250px;
		color: #fff;
		background-color: #e61010;
		padding: 25px;
		margin-bottom: 25px;
		margin-left: 180px;
}

.block__test-elements:not(:last-child) {
	margin-right: 15px;
}

.block__test-elements:hover {
	background-color: #2c2c2c;
}

.block__test-elements-title {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 20px;
}

.block__test-elements-title::after {
	content: '';
	width: 80%;
	height: 2px;
	background-color: #fff;
}

.block__test-elements-text {
	line-height: 1.2;
}

.last__child-test {
	margin: 0 auto;
	color: #fff;
	padding: 50px 0px 50px 20px;
	background-color: #0beb0e;
	max-width: 700px;
	margin-bottom: 40px;
	margin-left: 400px;
	
	
}

.last__child-test>*:not(:last-child) {
	margin-bottom: 20px;
}

.test__title {
	font-size: 24px;
	font-weight: 700;
}

.test__text {
	line-height: 1.3;
}

.test__link {
	padding: 15px 30px 15px;
	background-color:white;
	color: black;
	font-weight: 600;
}

.test__link:hover {
	text-decoration: underline;
	background-color: rgb(208, 225, 22);
}

.about {
	font-family: 'Exo', sans-serif;
		padding: 120px 181px 120px;
		background-color: #000;
		color: #fff;
	}
	
	.about__title {
		max-width: 400px;
		margin: 0 auto;
		font-size: 60px;
		font-weight: 700;
		line-height: 1.16;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

		.about__title:after {
			content: '';
			display: block;
			margin: 0 auto;
			margin-top: 20px;
			height: 1px;
			background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 50%, rgba(36, 0, 255, 1) 100%);
		}
	
		.about__text {
			max-width: 1030px;
			margin: 0 auto;
			font-size: 18px;
			text-align: center;
			font-weight: 400;
			line-height: 2.22;
			/* 40px/18 */
			text-transform: capitalize;
			margin-bottom: 60px;
		}
	
		.about__list {
			/* max-width: 1280px; */
			font-size: 0;
		}
	
		.about__list>* {
			display: inline-block;
			font-size: 20px;
			font-family: "Orbitron", sans-serif;
			font-weight: 500;
			line-height: 1.25;
		}
	
		.about__list-elements>a:hover {
			text-decoration: underline;
		}
	
		.about__list-elements:not(:last-child) {
			margin-right: 60px;
		}
	
		.about__list-elements::after {
			content: '';
			width: 10px;
			height: 10px;
			margin-left: 60px;
			border-radius: 100%;
			background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 50%, rgba(36, 0, 255, 1) 100%);
		}

	     .consult {
	     	font-family: 'Exo', sans-serif;
	     	padding: 100px 181px 120px;
	     	background-color: #000;
	     	color: #fff;
	     	margin-bottom: 100px;
	     }
	
	     .consult__title {
	     	font-size: 60px;
	     	font-weight: 700;
	     	line-height: 1.16;
	     	text-transform: uppercase;
	     	margin-bottom: 25px;
	     }
	
	     .consult__title:after {
	     	content: '';
	     	display: block;
	     	margin: 20px 0 40px 0;
	     	max-width: 958px;
	     	/* width: 100%; */
	     	height: 1px;
	     	background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 50%, rgba(36, 0, 255, 1) 100%);
	     }

				  .consult__list>* {
				  	display: inline-block;
				  	font-size: 20px;
				  	font-weight: 400;
				  }
		
				  .consult__list-elements>a:hover {
				  	text-decoration: underline;
				  }
		
				  .consult__list-elements:not(:last-child) {
				  	margin-right: 80px;
				  }
		
				  .consult__list-element.item-2 {
				  	text-transform: capitalize;
				  }
		
				  .item-1::before {
				  	content: '';
				  	vertical-align: top;
				  	margin-right: 15px;
					padding-right: 15px;
				  	width: 20px;
				  	height: 20px;
				  	background: url('../img/icon-phone.svg') 0 0 / 100% no-repeat;
				  }
              
				  
				 .item-2::before {
				 content: '';
			    vertical-align: top;
				 margin-right: 15px;
				 margin-left: 80px;
				 width: 20px;
				 height: 20px;
				 background: url('../img/icon-location.svg') 0 0 / 100% no-repeat;
				 }
				
				 .item-3::before {
				 content: '';
				 vertical-align: middle;
				 margin-right: 15px;
				 margin-left: 80px;
				 width: 20px;
				 height: 15px;
				 background: url('../img/icon-email.svg') 0 0 / 100% no-repeat;
				}


								.krovato {
									font-family: "Proxima Nova", sans-serif;
									font-weight: 400;
									color: #2b2929;
									background-color: hsl(0deg 0% 97%);
									margin-bottom: 100px;
								}
				
								.krovato__container {
									max-width: calc(1070px + 2 * 16px);
									padding: 40px 16px;
									margin: 0 auto;
								}
				
								.krovato__container>*:last-child {
									margin-bottom: 0px;
								}
				
								.krovato__title {
									font-size: 40px;
									font-weight: 600;
									line-height: 1.2;
									/* 48px/40 */
									margin-bottom: 40px;
								}
				
								.krovato__image img {
									width: 100%;
									margin-bottom: 40px;
									border-radius: 8px;
								}
                      .krovato__text {
			             font-weight: 400;
						    line-height: 1.875;
							 margin-bottom: 40px;
							 }
								
							 .krovato__text>p:not(:last-child) {
							 margin-bottom: 10px;
							 }
								
							.krovato__subtitle {
							font-size: 20px;
							font-weight: 600;
							line-height: 1.4;
							margin-bottom: 22px;
							}
								
						  .krovato__list {
						  font-weight: 400;
						  line-height: 1.875;
						  }
								
							.krovato__list-item {
							background: url('../img/mark.svg') 0 0 no-repeat;
							padding-left: 47px;
							}

							.krovato__list-item:not(:last-child) {
							margin-bottom: 20px;
							}

														.game {
															font-size: 0;
															max-width: 1000px;
															min-height: 640px;
															margin: 0 auto;
															background-color: #1b0982;
															padding: 50px;
															margin-bottom: 150px;
														}
							
														.game__area {
															background-color: #e7b912;
														}
							
														.game__area-1 {
															width: 20px;
															height: 20px;
														}
							
														.game__area-2 {
															width: 20px;
															height: 20px;
														}
							
														.game__area-1:hover+.game__area-2,
														.game__area-2:hover {
															width: 100%;
														}
							
														.game__area-3 {
															margin-left: 100%;
															visibility: hidden;
															margin-top: -20px;
															width: 20px;
															height: 100px;
														}
							
														.game__area-2:hover~.game__area-3,
														.game__area-3:hover {
															visibility: visible;
														}
							
														.game__area-4 {
															width: 100%;
															height: 20px;
															visibility: hidden;
															margin-top: -20px;
														}
							
														.game__area-3:hover~.game__area-4,
														.game__area-4:hover {
															visibility: visible;
														}
							
														.game__area-5 {
															width: 20px;
															height: 160px;
															visibility: hidden;
															margin-top: -20px;
														}
							
														.game__area-4:hover~.game__area-5,
														.game__area-5:hover {
															visibility: visible;
														}
							
														.game__area-6 {
															width: 160px;
															height: 20px;
															display: inline-block;
															visibility: hidden;
															margin-top: -20px;
														}
							
														.game__area-5:hover~.game__area-6,
														.game__area-6:hover {
															visibility: visible;
														}
							
														.game__area-7 {
															width: 20px;
															height: 100px;
															display: inline-block;
															visibility: hidden;
															margin-bottom: -80px;
														}
							
														.game__area-6:hover~.game__area-7,
														.game__area-7:hover {
															visibility: visible;
														}
							
														.game__area-8 {
															width: 100px;
															height: 20px;
															display: inline-block;
															visibility: hidden;
															margin-bottom: -80px;
														}
							
														.game__area-7:hover~.game__area-8,
														.game__area-8:hover {
															visibility: visible;
														}
							
														.game__area-9 {
															width: 20px;
															height: 100px;
															display: inline-block;
															visibility: hidden;
															margin-bottom: -80px;
														}
							
														.game__area-8:hover~.game__area-9,
														.game__area-9:hover {
															visibility: visible;
														}
							
														.game__area-10 {
															width: 340px;
															height: 20px;
															display: inline-block;
															visibility: hidden;
															margin-top: -80px;
														}
							
														.game__area-9:hover~.game__area-10,
														.game__area-10:hover {
															visibility: visible;
														}
							
														.game__area-11 {
															width: 20px;
															height: 280px;
															display: inline-block;
															visibility: hidden;
															margin-bottom: -260px;
														}
							
														.game__area-10:hover~.game__area-11,
														.game__area-11:hover {
															visibility: visible;
														}
							
														.game__area-12 {
															width: 20px;
															height: 20px;
															display: inline-block;
															background-color: rgb(230, 188, 21);
															visibility: hidden;
															margin-bottom: -260px;
														}
							
														.game__area-11:hover~.game__area-12,
														.game__area-12:hover {
															visibility: visible;
														}
							
														.game__image {
															background: url('../img/ukrainian-waving-flag-3.gif') 0 0 / cover no-repeat;
															visibility: hidden;
															height: 300px;
															width: 550px;
														}
							
														.game__area-12:hover~.game__image,
														.game__image:hover {
															visibility: visible;
														}

														.footer {
												      font-family: "Exo", sans-serif;
														max-width: 1000px;
													   font-weight: 700;
														font-size: 45px;
														padding-bottom: 20px;
														margin: 0 auto;
														text-align: center;
														color: #af1b4d;
														text-shadow:2px 2px 3px rgb(22, 31, 111);
														}
