/* ========================= ШРИФТИ =============================== */

/* Google Fonts */
/* цих шрифтів нема на Google Fonts тому і помилка в валідаторі */
/* @import url("https://fonts.googleapis.com/css?family=ProximaNova-Semibold:wght@500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Causten-Regular:wght@600&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Causten-Bold:wght@700&display"); */

@import url("https://fonts.googleapis.com/css?family=Roboto:500,700italic&display=swap");

/*Локальне підключення шрифтів */
@import url("fonts.css");

/*Скидання стилів */
@import url("reset.css");

body {
  font-family: "Proxima Nova";
  font-weight: 500; /*у вас підключено лише варіацію 600 а ви вказуєте 500, такої варіації у вас нема */
}

h1 {
  font-family: "Roboto"; /*виправив назву у вас було вказано ROboto а в підключенні вказано Roboto */
  font-weight: 700;
}

h2 {
  font-family: "Causten"; /*цей шрифт не підтримує кирилицю*/
  font-weight: 700;
}

.introduction__text {
  font-family: "Causten"; /*цей шрифт не підтримує кирилицю*/
  font-weight: 600; /*у вас підключено варіацію Bold=700 та Regular=400 варіації 600 у вас нема*/
}

.types__jewelry {
  font-family: "Proxima Nova";
  font-weight: 600;
}
