/* ========================= ШРИФТИ =============================== */

/* Google Fonts */

  @import url("https://fonts.googleapis.com/css?family=Quicksand:600,700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Quicksand:500&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Exo:regular,500,700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Shantell+Sans&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Rubik+Dirt:regular&display=swap");

  /*Локальне підключення шрифтів */
/*Скидання стилів */
@import url("reset.css");
@import url("fonts.css");


body {
	font-family: "ProximaNova", sans-serif;
	font-size: 16px;
	color: #5f5f5c;
	background-color: #f8f8f8;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

.header__text {
	text-align: center;
	font-size: 20px;
	padding: 20px;
	font-weight: 600;
	color: #fff;
	background-color: #eeb044;
	margin-bottom: 30px;
}

.title {
	margin: 0 0 40px 20px;
	font-size: 40px;
	font-weight: 600;
}

.page {
	padding: 20px 0;
	flex-grow: 1;
}

/* ___FORM____ */

.orders {
	/* color: #2b2929; */
	max-width: 740px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.orders__title {
	padding: 40px 0;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
	/* 48px/40px */
}

.form-new {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.form__section {
	border-radius: 8px;

}

.section-form:last-child {
	border-radius: 0 0 8px 8px;
}

.section-form:first-child {
	border-radius: 8px 8px 0 0;
}

.section-form {
	padding: 30px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.section-form__header {
	display: flex;
	align-items: center;
	gap: 15px;
}

.section-form__image {
	flex-basis: 60px;
}

.section-form__title {
	font-size: 26px;
	font-weight: 600;
	line-height: 34px;

}

.section-form__row {
	flex-wrap: wrap;
	display: flex;
	column-gap: 30px;
	row-gap: 20px;
}

.section-form__block {

	display: flex;
	flex-direction: column;
	row-gap: 20px;
	flex: 1 1 325px;
}

.section-form__input {
	padding: 10px 20px;
	border: 1px solid #d1d5d5;
	border-radius: 8px;
	transition: 0.2s;
	outline: 2px solid #ffbc5700;
}

.section-form__input::placeholder {
	color: #535353;
	font-size: 16px;
	line-height: 1.875;
	/* 30px/16 */

	transition: outline 0.2s;
}

.section-form__input:focus::placeholder {
	opacity: 0;
}

.section-form__input:focus {
	outline: 2px solid #ffbc57;
}

.section-form__input:hover {
	outline: 2px solid #ffbc57;
}

.section-form__check {
	cursor: pointer;
	align-self: start;
	border-radius: 2px;
	outline: 1px solid #ffbc5700;
	outline-offset: 5px;
	transition: all 0.2s;
}


.section-form__item:focus-visible {
	outline: 1px solid #ffbc57;
	outline-offset: 5px;

}

.check {
	position: relative;
}

.check__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	transition: all 0.2s;
}

.check__text {
	color: #535353;
	font-size: 16px;
	line-height: 1.875;
	/* 30px/16px */
	display: flex;
	align-items: center;
	gap: 14px;
	transition: color 0.2s;
}

.check__text:hover {
	color: #ffbc57;
}

.check__text::before {
	content: "";
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #d1d5d5;
	border-radius: 1px;


}

.check__input:focus-visible+.check__text {
	outline: 1px solid #ffbc57;
	outline-offset: 2px;
	border-radius: 3px;

}

.check__input:checked+.check__text::before {
	background: url(../icons/check-circle.svg) center / 30px no-repeat;
	outline: 1px solid #ffbc57;
	outline-offset: 2px;
	transform: scale(1);

}

.section-form__list {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}

.section-form__item {
	border-radius: 8px;
	flex: 1 0 210px;
	min-height: 142px;
	flex-grow: 1;
	position: relative;
	outline: 1px solid #ffbc5700;
	transition: outline 0.1s;
}

.check__input:focus-visible+.section-form__item {
	outline: 3px solid #000000;
	outline-offset: 6px;
}


.choice__input {
	z-index: 5;
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.choice__row-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* display: inline-block; */
	width: 100%;
	height: 100%;
	padding: 17px;

	gap: 10px;

	border: 3px solid #F8F8F8;
	border-radius: 8px;
	transition: all 0.1s;
}

.section-form__item:hover {
	outline: 2px solid #ffbc57;
	outline-offset: 3px;
}

.choice__row-label::before {
	content: "";
	width: 40px;
	height: 40px;
	background: url(../icons/check-circle.svg)0 0 / 100% no-repeat;
	position: absolute;
	top: 20px;
	visibility: hidden;
	will-change: transform;
	opacity: 0;
	transform: scale(0);
	transition: all 0.2s;
}

.choice__image {

	max-width: 40px;
	visibility: visible;
	transform: scale(1);
	opacity: 1;
	width: 100%;
	will-change: transform;
	transition: all 0.2s;
}

.choice__image img {

	width: 100%;
}

.choice__title {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.choice__text-1 {
	color: #2b2929;
	font-size: 16px;
	text-align: center;
	line-height: 1.875;
	/* 30px/16 */
}

.choice__text-2 {
	color: #535353;
	font-size: 15px;
	line-height: 1.46666667;
	/* 22px/15 */
}


.choice__input:focus-visible+.choice__row-label {
	outline: 2px solid #ffbc57;
	outline-offset: 3px;
}

.choice__input:checked+.choice__row-label {
	border: 3px solid #ffbc57;
	background-color: #fcf7f0;
}

.choice__input:checked+.choice__row-label::before {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.choice__input:checked+.choice__row-label::before {
	visibility: visible;
	opacity: 1;
}

.choice__input:checked+.choice__row-label>img {
	transform: scale(0);
	visibility: hidden;
	opacity: 0;
}


.contacts-form {
	border-radius: 8px;
	background-color: #f8f8f8;
	padding: 20px;
	color: #2a2929;
}

.contacts-form__row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

}

.contacts-form__text {
	display: flex;
	align-items: center;
	gap: 20px;
	flex: 0 1 450px;
}

.contacts-form__text::before {
	content: "";
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	background: url(../icons/location.svg) 0 0 / 100% no-repeat;

}

.text {

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.text__schedule {

	font-size: 16px;
	line-height: 1.875;
	/* 30px/16 */
}

.text__location {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
}

.contacts-form__button {
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 0 0 142px;
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	line-height: 24px;
	background-color: #ffbc57;
	padding: 13px 20px;
	border-radius: 8px;
	transition: all 0.2s;
}

.contacts-form__button::before {
	content: "";
	flex-shrink: 0;
	flex-wrap: wrap;
	width: 24px;
	height: 24px;
	background: url(../icons/map.svg) 0 0 /100% no-repeat;
}

.contacts-form__button:hover {
	background-color: #ffca7a;
	box-shadow: 1px 1px 5px 0px #272727;
}


.section-form__payment-item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-self: flex-start;

}


.payment__list {
	position: relative;

}


.payment__row-list {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: all 0.2s;
	outline: 3px solid #ffbc5700;
	outline-offset: 5px;
	border-radius: 3px;
}


.payment__radio {

	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;



}

.payment__text {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #2b2929;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	transition: all 0.2s;


}

.payment__radio:hover+.payment__text {
	color: #ffbc57;
}

.payment__radio:focus-visible+.payment__text {
	color: #ffbc57;
	outline: 2px solid #ffbc57;
	outline-offset: 5px;
	border-radius: 3px;
}


.payment__text::before {
	content: "";
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	border: 2px solid #b1b1b1;
	border-radius: 50%;



}

.payment__row-list img {
	flex: 0 0 48px;
}

.payment__radio:checked+.payment__text::before {
	background: url(../icons/check-circle.svg) center / 25px no-repeat;

}

.payment__row-list:hover {
	outline: 2px solid #ffbc57;
	outline-offset: 5px;

}

.section-form__comment {
	padding: 10px 20px;
	color: #535353;
	font-size: 16px;
	line-height: 1.875;
	/* 30px/16 */
	max-width: 100%;
	min-height: 150px;
	border: 1px solid #d1d5d5;
	border-radius: 8px;
	resize: vertical;
	transition: border 0.2s;
}

.section-form__comment:focus {
	outline: 2px solid #ffbc57;
}

.section-form__comment:hover {
	border: 1px solid #ffbc57;
}



.footer__container {
	text-align: center;
	padding: 25px;
}

.section-form__button {
	color: #fff;
	padding: 13px;
	font-size: 19px;
	font-weight: 600;
	line-height: 24px;
	border-radius: 8px;
	justify-content: center;
	background-color: #ffbc57;
	will-change: transform;
	transition: all linear 0.2s;
}

.section-form__button:focus-visible {
	outline: 2px solid #ffbc57;
	outline-offset: 2px;
}

.section-form__button:hover {
	background-color: #fea622;
	box-shadow: 1px 1px 1px 0px #535353;
	transform: scale(1.01);

}


.agreement__text {
	padding-top: 25px;
	text-align: center;
	color: #535353;
	font-size: 17px;
	line-height: 1.41176471;
	/* 24px/17 */
}

.agreement__text span {
	color: #ffbc57;
}

	
		